.inputMatrix input {
    width: 30px;
    height: 15px;
}

.inputMatrix {
    display: flex;
    flex-direction: row;
}

#firstTable {
    margin-left: auto;
}

#secondTable {
    margin-right: auto;
}

#firstTable + #secondTable {
    margin-left: 15%;
}

#header, #matrixSize {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.interactionWithMatrix button {
    outline: none;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
}

.interactionWithMatrix button:hover {
    cursor: pointer;
}

.interactionWithMatrix {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.firstMatrixButtons, .secondMatrixButtons {
    width: 200px;
}

.firstMatrixButtons {
    margin-left: 30%;
}

.secondMatrixButtons {
    margin-right: 30%;
}

.firstMatrixButtons + .secondMatrixButtons {
    margin-left: 150px;
}

.generalButtons {
    margin-left: auto;
    margin-right: auto;
}

.firstMatrixPow {
    display: flex;
    flex-direction: row;
}

.firstMatrixPow button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.firstMatrixPow input {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-left: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
}

.secondMatrixPow {
    display: flex;
    flex-direction: row;
}

.secondMatrixPow button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.secondMatrixPow input {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
}


.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    color: white;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: #32452a;
    transition: 0.3s all;
}

.modal.active, .overlay.active{
    opacity: 1;
    visibility: visible;
}

#powTable {
    margin-left: auto;
    margin-right: auto;
}